<!DOCTYPE html>
<html>
  <head>
    <title>Input Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Saved</h1>
        <div>Name: <%= name %>
        <div>Mail: <%= email %>
        <div>Birthday: <%= birthday %>
        <div>Gender: <%= gender %>
  </body>
</html>
